# OpenBao connection
OPENBAO_ADDR=http://openbao:8200
OPENBAO_ROLE_ID=<paste role_id from init script output>
OPENBAO_SECRET_ID=<paste secret_id from init script output>
OPENBAO_TRANSIT_KEY=tt-engine-key
OPENBAO_TOKEN_CACHE_TTL=3600

# Service
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8300
LOG_LEVEL=INFO
