OPENBAO_ADDR=http://localhost:8200
OPENBAO_TOKEN=root

# FPE key (32-char hex = AES-128) - change in production
FPE_KEY=2DE79D232DF5585D68CE47882AE256D6
# FPE tweak (14-char hex = 7 bytes) - change in production
FPE_TWEAK=CBD09280979564
